/* HEADER */
.encabezado{
    display:flex;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    border-bottom: 0.25vw solid darkorange ;
    border-top: 0.25vw solid darkorange ;
}

.encabezado h1{
    margin-top: -0.3vw;
}

/*
h1, h2{
    font-size: 2rem;
}
*/

footer{
    padding-top: 0.25vw;
    border-bottom: 0.25vw solid darkorange ;
    border-top: 0.25vw solid darkorange ;

    font-size: 1vw;
}

footer p{
    margin-bottom: 0vw;
}

.sb-sidenav-menu-heading{
    color: whitesmoke;
}

.cuerpo{
    display: flex;
}

.izquierda{
    width: 15%;
    padding-left: 1rem;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-bottom: -1rem;

    border-right: 0.25vw solid darkorange;
}

.separar{
    margin-top: 3rem;
}

.separarTarjetas{
    margin-top: 2rem;
}

.derecha {
    width: 100%;
    background: linear-gradient(50deg, #c9c993, rgb(167, 166, 119));
    padding-bottom: -59rem;
    margin-bottom: -1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.contactos{
    display: flex;
}

.hashtag{
    font-size: 1.2vw;
    margin-left: -0.5vw;
    margin-top: 1vw;
}

.glosario{
    font-size: 0.6vw;
    text-align: end;
    margin-bottom: 0vw;
}

.sangria{
    text-indent: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.linea{
    border-top: 1px solid gray;
    height: 20px;
    max-width: 1000px;
    margin: 1rem auto 0rem auto;
}




/* FORMULARIOS */
.form-control-transfers{
    width: 60%;
}









/* REDES SOCIALES */
.redes{
    color: orangered;
}
.redes:hover{
    color: orange;
}

/* FOOTER */
.linkFooter:hover{
    color: cyan;
}

.tituloFooter{
    color: rgb(41, 109, 109);
    font-size: 1.3vw;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer{
    margin-top: 1rem;
}



/* CHECKBOX */
.filtroTarjetas{
    font-size: 1.2vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    margin-left: -2.5vw;
    /* margin-right: -5vw; */
    border-bottom: 0.25vw solid darkorange;
    /* margin-top: -0.85vw; */
    width: 107%;
}




/* PAGINA INICIO Y REGISTRO */
.cuerpoLogin{
    display: flex;
}

.izquierdaLogin{
    width: 50%;
    
    border-right: 0.25vw solid darkorange;
    padding-bottom: 21%;
    background-color: #1f1e1e;
    background: repeating-linear-gradient(45deg, );

    color: darkorange;
    text-align: center;
    padding-top: 15rem;
}

.derechaLogin{
    
    width: 50%;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(50deg, #f0d1a1, rgb(143, 142, 66));
    /* padding-bottom: -59rem; */
    /* margin-bottom: -1rem; */
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
}

.lineaIndex{
    border-top: 0.25rem solid darkorange;
    width: 15rem;
    margin: auto;
    margin-bottom: 2rem;
}

.buttonIngresar{
    margin-top: 1rem;
}

.buttonCambiarFormulario{
    margin-top: 1rem;
}

.buttonDisabled{
    transition: 0.3s;
}

.buttonDisabled p{
    display: none;
    transition: 0.3s;
}

.buttonDisabled:hover p{
    transition: 0.3s;   
    display: inherit;
    position: absolute;
    top: 10rem;
    color: yellow;
    background: mediumslateblue;
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.formLoans{
    margin-top: 2rem;
}

.eliminaTarjeta{
    margin-top: 13rem;
}

.imagenContactanos{
    width: 100%; 
    height: 30%;
    margin-top: 2rem;
}





/* tarjeta de credito inicio */

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');


.title {
    margin-bottom: 30px;
    color: #162969;
}


.card{
    width: 350px;
    height: 190px;

    margin-top: 0vw;
    margin-left: 3vw;
    margin-bottom: 2vw;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective:600px;
}

.card__vacia{
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 350px;
    height: 190px;
    background-image: url(''), linear-gradient(to right bottom, #aa7c7c, #b1a8ac, #6e5f5f, #857878, #9b929b); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__black{
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 350px;
    height: 190px;
    background-image: url('img/logo2.png'), linear-gradient(to right bottom, #1f1e1e, #383637, #525050, #252424, #252425); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__gold{
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 350px;
    height: 190px;
    background-image: url('img/logo2.png'), linear-gradient(to right bottom, #6c6e1a, #c8ca55, #54571c, #d6e03e, #5e5913); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__silver{
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 350px;
    height: 190px;
    background-image: url('img/logo2.png'), linear-gradient(to right bottom, #979494, #686767, #726062, #585657, #3a373a); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 16px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 25px;
    font-weight:bold;
    letter-spacing: 2px;
    color: rgb(19, 171, 209);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}


/* tarjeta de credito fin */














/* FORMULARIO DE TARJETA */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}
/*
.bodyDerecha {
  background: linear-gradient(50deg, #f0d1a1, rgb(143, 142, 66));
  margin-left: 0rem;
  margin-top: 0rem;
  margin-bottom: -1rem;

  padding-left: 3rem;
  
  
}
*/


/*--------------------
Buttons
--------------------*//*
.btn {
  display: block;
  background: hsl(86, 76%, 71%);
  color: hsl(0, 0, 100);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}

.btn::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, .2);
    border-radius: 5px;
}

.btn:hover::after {
    background: hsla(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
}

/*--------------------
Form
--------------------*/
/*
.form {

    fieldset {
      border: none;
      padding: 0;
      padding: 10px 0;
      position: relative;
      clear: both;
  
      &.fieldset-expiration {
        float: left;
        width: 60%;
  
        & .select {
          width: 84px;
          margin-right: 12px;
          float: left;
        }
      }
  
      &.fieldset-ccv {
        clear: none;
        float: right;
        width: 86px;
      }
  
      label {
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        color: hsla(0, 0, 0, .6);
        margin-bottom: 5px;
        font-weight: bold;
        font-family: Inconsolata;
      }
  
      input,
      .select {
        width: 100%;
        height: 38px;
        color: hsl(0, 0, 20);
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        outline: none!important;
        border: 1px solid hsla(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
  
        &.input-cart-number {
          width: 82px;
          display: inline-block;
          margin-right: 8px;
  
          &:last-child {
            margin-right: 0;
          }
        }
      }
  
      .select {
        position: relative;
  
        &::after {
          content: '';
          border-top: 8px solid #222;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          position: absolute;
          z-index: 2;
          top: 14px;
          right: 10px;
          pointer-events: none;
        }
  
        select {
          appearance: none;
          position: absolute;
          padding: 0;
          border: none;
          width: 100%;
          outline: none!important;
          top: 6px;
          left: 6px;
          background: none;
  
          :-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
          }
  
        }
      }
  
  
    }
  
    button {
      width: 100%;
      outline: none!important;
      background: linear-gradient(180deg, #49a09b, #3d8291);
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      box-shadow: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      margin-top: 90px;
  
      & .fa {
        margin-right: 6px;
      }
    }
  
  }
*/

/*--------------------
Checkout
--------------------*/

.checkout {
  margin: 12vw auto 30px;
  position: relative;
  width: 460px;
  background: white;
  border-radius: 15px;
  padding: 160px 45px 30px;
  box-shadow: 0 10px 40px hsla(0, 0, 0, .1);
}

/*--------------------
Credit Card
--------------------*/
.credit-card-box {
  perspective: 1000;
  width: 400px;
  height: 280px;
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
}
.credit-card-box:hover .flip,
.credit-card-box.hover .flip {
    transform: rotateY(180deg);
}

.credit-card-box .front,
.credit-card-box .back {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #bd6772, #53223f);
    position: absolute;
    color: #fff;
    font-family: Inconsolata;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      /* background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center; */
      background-size: cover;
      opacity: .05;
}
  
.credit-card-box .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.credit-card-box .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px;
}

.credit-card-box .logo svg {
      width: 100%;
      height: auto;
      fill: #fff;
}

.credit-card-box .front {
    z-index: 2;
    transform: rotateY(0deg);
}

.credit-card-box .back {
    transform: rotateY(180deg);
}

.credit-card-box .back .logo {
      top: 185px;
}

.credit-card-box .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, hsl(269,54%,87%) 0%,hsl(200,64%,89%) 44%,hsl(18,55%,94%) 100%);;
    border-radius: 8px;
}

.credit-card-box .chip::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 4px solid hsla(0, 0, 50, .1);
      width: 80%;
      height: 70%;
      border-radius: 5px;
}

.credit-card-box .strip {
    background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
}

.credit-card-box .number {
    position: absolute;
    margin: 0 auto;
    top: 103px;
    left: 19px;
    font-size: 38px;
}

.credit-card-box label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
}

.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
}

.credit-card-box .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
}

.credit-card-box .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;
}

.credit-card-box .ccv label {
      margin: -25px 0 14px;
      color: #fff;
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}

.the-most img {
    max-width: 100%;
  }
}







/* TARJETA del FORMULARIO */ 
.crearTarjeta{
    display: flex;
    justify-content: center;     
}

.inputFormCreateCards{
    margin-left: 1vw;
}

.labelFormCreateCards{
    margin-left: 0.5vw;
}

.formCrearTarjeta{
    margin-top: 10vw;
}